/.DS_Store
/.vscode
/__pycache__
env*
*.log
log/latest
log/latest_list
log/COLCON_IGNORE
resources/ca-cert.pem
resources/ca-cert.srl
resources/ca-key.pem
resources/client-key.pem
resources/client-req.pem
resources/client.crt
resources/client.key
resources/gen.bash
resources/server-cert.pem
resources/server-key.pem
resources/server-req.pem
resources/server.crt
resources/server.key
test/client.crt
test/server.crt
test/server.key
